<div class="header">
    <button mat-icon-button class="header-content" [color]="likeColor" (click)="showLikeReactions()">
        <mat-icon aria-label="Like">thumb_up</mat-icon>
    </button>
    <button mat-icon-button class="header-content" [color]="dislikeColor" (click)="showDislikeReactions()">
        <mat-icon aria-label="DisLike">thumb_down</mat-icon>
    </button>
</div>
<hr>

<mat-dialog-content>
    <div *ngIf="isLike">
        <mat-toolbar *ngIf="likeReactions.length === 0">
            <p class="no-content">No one liked yet</p>
        </mat-toolbar>
        <div *ngFor="let _reaction of likeReactions">
            <mat-card-header>
                <img mat-card-avatar src="{{_reaction.user.avatar}}" alt="Avatar">
                <mat-card-title>{{_reaction.user.userName}}</mat-card-title>
            </mat-card-header>
        </div>
    </div>
    <div *ngIf="!isLike">
        <mat-toolbar *ngIf="dislikeReactions.length === 0">
            <p class="no-content">No one disliked</p>
        </mat-toolbar>
        <div *ngFor="let _reaction of dislikeReactions">
            <mat-card-header>
                <img mat-card-avatar src="{{_reaction.user.avatar}}" alt="Avatar">
                <mat-card-title>{{_reaction.user.userName}}</mat-card-title>
            </mat-card-header>
        </div>
    </div>
</mat-dialog-content>